.file-selector label {
    cursor: pointer;
  }
  
textarea#logFile {
    width: 85%;
    height: 300px;
  }

textarea#methodName {
  width: 30%;
  height: 30px;
}

div.log-preview {
    margin: 10px;
  }

button.saveLogFilesBtn {
  margin: 10px;
}
